/* ----------Google Fonts--------- */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/* -------------Mobile Version----------- */
@media only screen and (max-width: 799px) {
	*{
		margin: 0;
	}
	body{
		font-family: "Josefin Sans", sans-serif;
		text-align: center;
		background-color: hsla(0, 36%, 70%, 0.1);
	}
	h1{
		font-weight: 600;
		text-transform: uppercase;
		padding: 50px 50px 20px 50px;
	    font-size: 35px;
	    letter-spacing: 7px;
	    color: hsl(0, 6%, 24%);
	}
	span{
		font-weight: 300;
		color: hsl(0, 36%, 70%);
	}
	.main p{
		font-weight: 400;
		line-height: 1.6;
	    color: hsl(0, 36%, 70%);
	}
	.para{
		font-size: 13px;
	    padding-bottom: 30px;
	    margin: 0 35px;
	}
	.logo{
		float: left;
		width: 25%;
		margin: 20px 30px;
	}
	.big-image{
		max-width: 100%;
	}
	.fake-input{
		padding-bottom: 50px;
	}
	.email-box{
		background-color: transparent;
		padding: 11px 80px 11px 18px;
	    border-radius: 20px;
	    border: solid 1px hsl(0, 36%, 70%);
		outline: none;
	}
	::placeholder{
		color: hsl(0, 36%, 70%);
		opacity: 0.5;
		font-size: 11px;
		font-family: "Josefin Sans", sans-serif;
	}
	.btn{
		background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	    padding: 8px 20px;
	    border: none;
	    border-radius: 20px;
	    position: absolute;
	    right: 10%;
	    box-shadow: 0 5px 10px 0 hsla(0, 36%, 70%, 0.6);
	}
	.error-image{
		display: none;
		position: absolute;
	    right: 35%;
	    top: 104%;
	    width: 5%;
	    margin-top: 4px
	}

	.attribution { font-size: 11px; text-align: center; }
	.attribution a { color: hsl(228, 45%, 44%); }
}

/* -------------------------Desktop Version------------------------- */

@media only screen and (min-width: 800px) {
	*{
		margin: 0;
	}
	body{
		font-family: "Josefin Sans", sans-serif;
		background-color: hsla(0, 36%, 70%, 0.1);
		background-image: url('images/hero-desktop.jpg');
		background-repeat: no-repeat;
		background-position: right top;
		background-attachment: fixed;
		background-size: 40% 100%;
	}
	h1{
		font-weight: 600;
		text-transform: uppercase;
	    font-size: 60px;
	    letter-spacing: 15px;
	    line-height: 1.2;
	    color: hsl(0, 6%, 24%);
	    position: absolute;
	    top: 180px;
	    right: 365px;
	    text-align: left;
	    margin: 0 500px;
	}
	span{
		font-weight: 300;
		color: hsl(0, 36%, 70%);
	}
	.main{
		padding-bottom: 590px;
	}
	.main p{
		font-weight: 400;
		line-height: 1.6;
	    color: hsl(0, 36%, 70%);
	}
	.para{
		font-size: 16px;
	    margin: 0 150px;
	    position: absolute;
	    top: 410px;
	    right: 600px;
    	text-align: left;
	}
	.logo{
		position: absolute;
		left: 120px;
		top: 30px;
		width: 10%;
		margin: 20px 30px;
	}
	.big-image{
		max-width: 100%;
		display: none;
	}
	.fake-input{
		padding-bottom: 50px;
	}
	.email-box{
		background-color: transparent;
		padding: 13px 180px 13px 25px;
	    border-radius: 20px;
	    border: solid 1px hsl(0, 36%, 70%);
		outline: none;
		position: absolute;
		bottom: 100px;
		left: 150px;
	}
	::placeholder{
		color: hsl(0, 36%, 70%);
		opacity: 0.5;
		font-size: 13px;
		font-family: "Josefin Sans", sans-serif;
	}
	.btn{
		background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	    padding: 10px 30px;
	    border: none;
	    border-radius: 20px;
	    position: absolute;
	    right: 16%;
	    box-shadow: 0 5px 10px 0 hsla(0, 36%, 70%, 0.6);
	    position: absolute;
	    bottom: 100px;
	    left: 475px;
	}
	.error-image{
		display: none;
		position: absolute;
	    right: 35%;
	    top: 104%;
	    width: 5%;
	    margin-top: 4px
	}

	.attribution { font-size: 11px; text-align: center; }
	.attribution a { color: hsl(228, 45%, 44%); }
}
